* {
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
}

.calculator {
    display: flex;
    flex-direction: column;
    height: 90vmin;
    width: 70vmin;
    gap: 2vmin;
    border: black solid 1px;
    align-items: center;
    border-radius: 20px;
}

output.display {
    display: flex;
    margin-top: 5vmin;
    width: 90%;
    border-radius: 50px;
    padding: 10px 20px;
    justify-content: flex-end;
    align-items: center;
    font-size: clamp(1.5rem, 4vmin, 4rem);
    border: solid black 1px;
    height: 10%;
}

.keys {
    display: flex;
    flex-wrap: wrap;
    margin: 2vmin;
    gap: 1vmin;
    justify-content: center;
}

.keys button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-size: clamp(1.5rem, 4vmin, 4rem);
}